.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

.content {
    padding: 20px;
}

.logo-container {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
}

.logo-text {
    background: linear-gradient(225deg, lightgreen, green);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-right: 4px;
}

.tool-text {
    color: greenyellow;
}