# Motor vibration simulation
# This docker-compose file sets up three services: train_service, detect_service, and simulate-service.
name: py_4_-5_final_example_with_ai_4_5 # This sets the project name (necessary here if the project name, e.g._4_5.., violates the naming conventions

services:
  train-service:
    container_name: train_service
    build:
      context: .
      dockerfile: ./train_service/Dockerfile
    image: dqman/4.5_train_service:v1
    ports:
      - "5001:5001"
    environment:
      # - SHARED_PATH=/autoencoder
      - MODEL_PATH=/models
      - PYTHONUNBUFFERED=1
    restart: no # unless-stopped
    volumes:
      - ./models:/models
      #- ./autoencoder:/autoencoder

  detect-service:
    container_name: detect_service
    build:
      context: .
      dockerfile: detect_service/Dockerfile
    image: dqman/4.5_detect_service:v1
    ports:
      - "5002:5002"
    environment:
      # - SHARED_PATH=/autoencoder
      - MODEL_PATH=/models
      - PYTHONUNBUFFERED=1
    restart: no # unless-stopped
    volumes:
      - ./models:/models
      #- ./autoencoder:/autoencoder

  simulate-service:
    container_name: simulate-service
    build:
      context: .
      dockerfile: ./motor_simulation-service/Dockerfile
    image: dqman/4.5_simulation_service:v1
    ports:
      - "5003:5003"
    environment:
      - PYTHONUNBUFFERED=1
    restart: no # unless-stopped

  n8n:
    image: n8nio/n8n
    ports:
      - "5678:5678"
    environment:
      - N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true
      - GENERIC_TIMEZONE=Europe/Berlin
      - N8N_RUNNERS_ENABLED=true
      - N8N_IMPORT_EXPORT_FOLDER=/home/node/.n8n/import
      - N8N_IMPORT_EXPORT_SKIP_EXISTING=true
      - N8N_HOST=localhost # Prevents some redirect issues

      - N8N_USER_MANAGEMENT_DISABLED=true
      - N8N_FIRST_START=false
#      - N8N_BASIC_AUTH_ON_ALL_HOSTS=true
#      - N8N_BASIC_AUTH_ACTIVE=true
#      - N8N_BASIC_AUTH_USER=admin
#      - N8N_BASIC_AUTH_PASSWORD=password
      - N8N_DISABLE_SECURITY_FEATURES=true
      - N8N_OWNER_EMAIL=admin@example.com
      - N8N_OWNER_PASSWORD=password
      - N8N_SECURE_COOKIE=false

      - DB_SQLITE_POOL_SIZE=1
      - N8N_BLOCK_ENV_ACCESS_IN_NODE=false
      - N8N_GIT_NODE_DISABLE_BARE_REPOS=true
    container_name: n8n
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: no # unless-stopped
    volumes:
      - ./n8n-config:/home/node/.n8n
      - ./n8n-import:/home/node/.n8n/import
      - ./n8n/start.sh:/start.sh
    entrypoint: /start.sh


# volumes:
#  shared-models:
