.dq-rules-container {
    padding: 20px;
}


.header-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 0;
}

.filter-input {
    width: 100%;
    margin-top: 4px;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
}

mat-form-field {
    width: 100%;
    margin-bottom: 10px;
}

button {
    margin-right: 10px;
}

table {
    width: 100%;
    margin-top: 20px;
}