
pandas>=2.3.3
numpy>=2.3.5
tensorflow>=2.13.1
optuna>=3.6.2
mlflow>=3.5.1
sqlalchemy>=2.0.43
psycopg2-binary>=2.9.3
great-expectations>=1.6.2
scikit-learn>=1.7.2
shap>=0.49.1
requests>=2.32.4

# Visualization
matplotlib>=3.8.4
seaborn>=0.13.0
plotly>=6.4.0

# Development
pytest>=9.0.1
pytest-cov>=7.0.0
black>=24.3.0
flake8>=7.3.0