<div class="dq-projects-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>DQ Projects Management</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!-- Create New Project Form -->
      <div class="create-project-form">
        <h3>Create New Project</h3>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput [(ngModel)]="newProject.name" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Description</mat-label>
          <input matInput [(ngModel)]="newProject.description" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Status</mat-label>
          <mat-select [(ngModel)]="newProject.status">
            <mat-option *ngFor="let status of statusOptions" [value]="status">
              {{ status }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Created Date</mat-label>
          <input matInput [matDatepicker]="createdPicker" [(ngModel)]="newProject.createdDate" />
          <mat-datepicker-toggle matIconSuffix [for]="createdPicker"></mat-datepicker-toggle>
          <mat-datepicker #createdPicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Started Date</mat-label>
          <input matInput [matDatepicker]="startedPicker" [(ngModel)]="newProject.startedDate" />
          <mat-datepicker-toggle matIconSuffix [for]="startedPicker"></mat-datepicker-toggle>
          <mat-datepicker #startedPicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Finished Date</mat-label>
          <input matInput [matDatepicker]="finishedPicker" [(ngModel)]="newProject.finishedDate" />
          <mat-datepicker-toggle matIconSuffix [for]="finishedPicker"></mat-datepicker-toggle>
          <mat-datepicker #finishedPicker></mat-datepicker>
        </mat-form-field>
        <button mat-raised-button color="primary" type="button" (click)="createProject($event)">Create Project</button>
      </div>

      <!-- Edit Project Form -->
      <div class="edit-project-form" *ngIf="editingProject">
        <h3>Edit Project</h3>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput [(ngModel)]="editingProject.name" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Description</mat-label>
          <input matInput [(ngModel)]="editingProject.description" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Status</mat-label>
          <mat-select [(ngModel)]="editingProject.status">
            <mat-option *ngFor="let status of statusOptions" [value]="status">
              {{ status }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Created Date</mat-label>
          <input matInput [matDatepicker]="editCreatedPicker" [(ngModel)]="editingProject.createdDate" />
          <mat-datepicker-toggle matIconSuffix [for]="editCreatedPicker"></mat-datepicker-toggle>
          <mat-datepicker #editCreatedPicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Started Date</mat-label>
          <input matInput [matDatepicker]="editStartedPicker" [(ngModel)]="editingProject.startedDate" />
          <mat-datepicker-toggle matIconSuffix [for]="editStartedPicker"></mat-datepicker-toggle>
          <mat-datepicker #editStartedPicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Finished Date</mat-label>
          <input matInput [matDatepicker]="editFinishedPicker" [(ngModel)]="editingProject.finishedDate" />
          <mat-datepicker-toggle matIconSuffix [for]="editFinishedPicker"></mat-datepicker-toggle>
          <mat-datepicker #editFinishedPicker></mat-datepicker>
        </mat-form-field>
        <button mat-raised-button color="primary" type="button" (click)="updateProject($event)">Update Project</button>
        <button mat-raised-button type="button" (click)="cancelEdit()">Cancel</button>
      </div>

      <!-- Projects List Table -->
      <table mat-table [dataSource]="projects" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let project">{{ project.name }}</td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Description</th>
          <td mat-cell *matCellDef="let project">{{ project.description }}</td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let project">
            <span [ngClass]="'status-' + project.status">{{ project.status }}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="createdDate">
          <th mat-header-cell *matHeaderCellDef>Created</th>
          <td mat-cell *matCellDef="let project">{{ project.createdDate | date:'short' }}</td>
        </ng-container>

        <ng-container matColumnDef="startedDate">
          <th mat-header-cell *matHeaderCellDef>Started</th>
          <td mat-cell *matCellDef="let project">{{ project.startedDate | date:'short' }}</td>
        </ng-container>

        <ng-container matColumnDef="finishedDate">
          <th mat-header-cell *matHeaderCellDef>Finished</th>
          <td mat-cell *matCellDef="let project">{{ project.finishedDate | date:'short' }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let project">
            <button mat-raised-button color="accent" type="button" (click)="editProject(project)">Edit</button>
            <button mat-raised-button color="warn" type="button" (click)="deleteProject(project.id)">Delete</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>